body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: black;
    color:#fff;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
#header{
    padding-left: 43%;
    
}
#menu{
    width: 15%;
    margin-left: 1%;
    background: #fff;
    border-radius: 10%;
    position: absolute;
    color: black;
}
#list_menu{
    list-style: none;
    font-size: 200%;
    padding-left: 5%;
    text-align: center;
    padding-right: 5%;
}
#content{
    margin-left:17% ;
    height: 900%;
    width: 80%;
    background: #fff;
    color:black;
}

#footer{
    margin-top:2%;
    padding-left: 45%;
    color:#000000;
    background:#fff;
}
.menu_item:hover{
    background:#6d6d6d;
    padding: 2px 2px 2px 2px;
    border-radius: 2%;
}
