body{
	background: #9d9d9d;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
#header{
	width: auto;
	height: auto;
	background: #7d7d7d;
	position: relative;

}
.main_link{
	margin-left: 320px;
	font-size: 40px;
}
#content{
	background: red;
	width:auto;
	height: auto;
	margin-top: auto; 
}