body{
	background: #cfbeae ;
	overflow: hidden;
}
li{
	list-style-type: none;
}
#menu{
 padding-left: 0;
 margin-left: 0;
 display: block;
 position: fixed;
 background: #6b2f21;
 width: 200px;
 height:200px;
 border-radius: 5px;
}
.menu_item{
	text-align: center;
	font-size: 45px;
	font-family: 'Indie Flower', cursive;
}
#footer{
	background:#2d0a08; 
	font-family: 'Indie Flower', cursive;
	color: #fff;
	text-align: center;
	margin-top:100%; 
	position: absolute;
	width: 100%;

	
}
